<div class="row">
  <div *ngIf="movies$ | async as movie" class="col-6 offset-3">
    <form #moviesForm="ngForm" (ngSubmit)="onUpdate(movie)">
      <div class="form-group">
        <label for="">Movie title:</label>
        <input
          name="title"
          [(ngModel)]="movie.movie_title"
          type="text"
          class="form-control"
          pattern=".{8,40}"
          required
        />
        <div class="error-message" *ngIf="moviesForm.controls['title']?.invalid" >
          The name of the event is required and must be between 8 and 40 characters!
        </div>
      </div>
      <div class="form-group">
        <label for="">Movie genres:</label>
        <input
          name="date"
          [(ngModel)]="movie.movie_genres"
          type="text"
          class="form-control"
          pattern="()"
          required
        />
      </div>
     <div [hidden]="moviesForm.controls['movie_genres']?.valid" class="error-message">
        Date is required and has to be set by US date format (DD/MM/YYYY)!
      </div>
      <div class="form-group">
        <label for="">Release year:</label>
        <input
          name="year"
          [(ngModel)]="movie.release_year"
          type="text"
          class="form-control"
          pattern="(^((([0]?[1-9]|1[0-2])(:|\.)[0-5][0-9]((:|\.)[0-5][0-9])?( )?(AM|am|aM|Am|PM|pm|pM|Pm))|(([0]?[0-9]|1[0-9]|2[0-3])(:|\.)[0-5][0-9]((:|\.)[0-5][0-9])?))$)"
          required
        />
      </div>
      <div [hidden]="moviesForm.controls['release_year']?.valid" class="error-message">
        Time is required and has to be set by US time format (00am/pm)!
      </div>
      <div class="form-group">
        <label for="">Seen</label>
        <input
          name="location"
          [(ngModel)]="movie.seen"
          type="text"
          class="form-control"
          pattern=".{8,25}"
          required
        />
      </div>
      <div [hidden]="moviesForm.controls['seen']?.valid" class="error-message">
        Location is required has to be minimum 8, maximum 25 characters!
      </div>
      <div class="form-group">
        <label for="">Img url:</label>
        <input
          name="img url"
          [(ngModel)]="movie.img_src"
          type="text"
          class="form-control"
          pattern=".{8,25}"
          required
        />
      </div>
      <div [hidden]="moviesForm.controls['img_src']?.valid" class="error-message">
        Location is required has to be minimum 8, maximum 25 characters!
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block btn-lg"
      >
        <i class="bi bi-save">Save</i>
      </button>
    </form>
  </div>
</div>
